
.container{
    padding: 15px;
    
}

.form{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas: 
        "userlabel userinput userinput"
        "pwdlabel pwdinput pwdinput"
        ". button ."
    ;
}

.userlabel{
    grid-area: userlabel;
}

.userinput{
    grid-area: userinput;
}

.pwdlabel{
    grid-area: pwdlabel;
}

.pwdinput{
    grid-area: pwdinput;
}

.button{
    grid-area: button;
}