
.authPageDiv{
    padding: 5px;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        ". titleline ."
        ". card ."
    ;
}

.titleline{
    grid-area: titleline;
}

.form{
    grid-area: card;
}

@media(max-width: 480px){
    .authPageDiv{
        padding: 5px;
        display: grid;

        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            ". titleline titleline titleline ."
            ". card card card ."
        ;
    }
}

@media (max-width: 768px){
    .authPageDiv{
        padding: 5px;
        display: grid;

        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            ". titleline titleline titleline titleline titleline ."
            ". card card card card card."
        ;
    }
}